<p id="notice"><%= notice %></p>

<p>
  <strong>Travel type:</strong>
  <%= @travel.travel_type %>
</p>

<p>
  <strong>Travel arrival:</strong>
  <%= @travel.travel_arrival %>
</p>

<p>
  <strong>Travel location:</strong>
  <%= @travel.travel_location %>
</p>

<p>
  <strong>Travel region:</strong>
  <%= @travel.travel_region %>
</p>

<p>
  <strong>Travel country:</strong>
  <%= @travel.travel_country %>
</p>

<p>
  <strong>Travel display offer:</strong>
  <%= @travel.travel_display_offer %>
</p>

<p>
  <strong>Travel object shortdesc:</strong>
  <%= @travel.travel_object_shortdesc %>
</p>

<p>
  <strong>Travel object longdesc:</strong>
  <%= @travel.travel_object_longdesc %>
</p>

<p>
  <strong>Travel gallery:</strong>
  <%= @travel.travel_gallery %>
</p>

<p>
  <strong>Travel header picture:</strong>
  <%= @travel.travel_header_picture %>
</p>

<p>
  <strong>Travel header slider:</strong>
  <%= @travel.travel_header_slider %>
</p>

<p>
  <strong>Travel video:</strong>
  <%= @travel.travel_video %>
</p>

<p>
  <strong>Travel calendar:</strong>
  <%= @travel.travel_calendar %>
</p>

<p>
  <strong>Travel form:</strong>
  <%= @travel.travel_form %>
</p>

<p>
  <strong>Travel calendar start:</strong>
  <%= @travel.travel_calendar_start %>
</p>

<p>
  <strong>Travel calendar end:</strong>
  <%= @travel.travel_calendar_end %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @travel.customer %>
</p>

<%= link_to 'Edit', edit_travel_path(@travel) %> |
<%= link_to 'Back', travels_path %>
