<%= simple_form_for(@customer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :customer_name %>
    <%= f.input :customer_street %>
    <%= f.input :customer_plz %>
    <%= f.input :customer_city %>
    <%= f.input :customer_country %>
    <%= f.input :customer_telephone %>
    <%= f.input :customer_state %>
    <%= f.input :customer_contact %>
    <%= f.input :customer_telefax %>
    <%= f.input :customer_email %>
    <%= f.input :customer_homepage %>
    <%= f.input :customer_is_active %>
    <%= f.input :customer_show_email %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
