<p id="notice"><%= notice %></p>

<p>
  <strong>Customer name:</strong>
  <%= @customer.customer_name %>
</p>

<p>
  <strong>Customer street:</strong>
  <%= @customer.customer_street %>
</p>

<p>
  <strong>Customer plz:</strong>
  <%= @customer.customer_plz %>
</p>

<p>
  <strong>Customer city:</strong>
  <%= @customer.customer_city %>
</p>

<p>
  <strong>Customer country:</strong>
  <%= @customer.customer_country %>
</p>

<p>
  <strong>Customer telephone:</strong>
  <%= @customer.customer_telephone %>
</p>

<p>
  <strong>Customer state:</strong>
  <%= @customer.customer_state %>
</p>

<p>
  <strong>Customer contact:</strong>
  <%= @customer.customer_contact %>
</p>

<p>
  <strong>Customer telefax:</strong>
  <%= @customer.customer_telefax %>
</p>

<p>
  <strong>Customer email:</strong>
  <%= @customer.customer_email %>
</p>

<p>
  <strong>Customer homepage:</strong>
  <%= @customer.customer_homepage %>
</p>

<p>
  <strong>Customer is active:</strong>
  <%= @customer.customer_is_active %>
</p>

<p>
  <strong>Customer show email:</strong>
  <%= @customer.customer_show_email %>
</p>

<p>
  <strong>User:</strong>
  <%= @customer.user %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
