<p id="notice"><%= notice %></p>

<p>
  <strong>Renting object:</strong>
  <%= @renting.renting_object %>
</p>

<p>
  <strong>Renting min duration:</strong>
  <%= @renting.renting_min_duration %>
</p>

<p>
  <strong>Renting cost:</strong>
  <%= @renting.renting_cost %>
</p>

<p>
  <strong>Renting cost duration:</strong>
  <%= @renting.renting_cost_duration %>
</p>

<p>
  <strong>Renting location:</strong>
  <%= @renting.renting_location %>
</p>

<p>
  <strong>Renting region:</strong>
  <%= @renting.renting_region %>
</p>

<p>
  <strong>Renting country:</strong>
  <%= @renting.renting_country %>
</p>

<p>
  <strong>Renting display offer:</strong>
  <%= @renting.renting_display_offer %>
</p>

<p>
  <strong>Renting object shortdesc:</strong>
  <%= @renting.renting_object_shortdesc %>
</p>

<p>
  <strong>Renting object longdesc:</strong>
  <%= @renting.renting_object_longdesc %>
</p>

<p>
  <strong>Renting gallery:</strong>
  <%= @renting.renting_gallery %>
</p>

<p>
  <strong>Renting header picture:</strong>
  <%= @renting.renting_header_picture %>
</p>

<p>
  <strong>Renting header slider:</strong>
  <%= @renting.renting_header_slider %>
</p>

<p>
  <strong>Renting video:</strong>
  <%= @renting.renting_video %>
</p>

<p>
  <strong>Renting calendar:</strong>
  <%= @renting.renting_calendar %>
</p>

<p>
  <strong>Renting form:</strong>
  <%= @renting.renting_form %>
</p>

<p>
  <strong>Renting calendar start:</strong>
  <%= @renting.renting_calendar_start %>
</p>

<p>
  <strong>Renting calendar end:</strong>
  <%= @renting.renting_calendar_end %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @renting.customer %>
</p>

<%= link_to 'Edit', edit_renting_path(@renting) %> |
<%= link_to 'Back', rentings_path %>
